<link rel="stylesheet" , href="/css/signin.css">
<div class="nav">
    <a href="#">Home</a>
    <a href="/employee/signUp">Sign Up</a>
</div>
<div id="loginForEmployees">
    <h1>Sign In</h1>
    <form action="/login" , method="POST">
        <input id="email" type="text" name="email" placeholder="Enter The Email" required><br><br>
        <input id="password" type="password" name="password" placeholder="Enter The Password" required><br><br>
        <input id="role" type="text" name="role" placeholder="Enter The Role" required><br><br>
        <button id="button">submit</button>
    </form>
</div>