<link rel="stylesheet" href="/css/signup.css">
<div class="nav">
    <a href="/">Home</a>
</div>
<div id="registerForEmployees">
    <h1>Sign Up</h1>
    <form action="/employee/register" , method="POST">
        <input id="name" type="text" name="name" placeholder="Enter The Name" required><br><br>
        <input id="email" type="text" name="email" placeholder="Enter The Email" required><br><br>
        <input id="password" type="text" name="password" placeholder="Enter The Password" required><br><br>
        <input id="mobile" type="text" name="mobile" placeholder="Enter The Mobile No" required><br><br>
        <input id="city" type="text" name="city" placeholder="Enter The city" required><br><br>
        <button id="button">submit</button>
    </form>
</div>