.nav{
  margin-top: -5px;
  padding: 8px;
  height:4%;
  overflow: hidden;
  background-color: #333;
}
.nav > a{
    font-size: 20px;
    color: aliceblue;
    padding: 8px;
}
table{
    width:90%;
    border-collapse: collapse;
}
td,th{
    padding: 8px;
    border:1px solid lightgrey ;
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}