/* design navigation bar */
.nav{
    margin-top: -5px;
    padding: 8px;
    height:4%;
    overflow: hidden;
    background-color: #333;
  }
  .nav > a{
      font-size: 20px;
      color: aliceblue;
      padding: 8px;
  }
table{
    width:70%;
    border-collapse: collapse;
}
th,td{
    text-align: left;
    border: 1px solid lightgrey;
    padding: 8px;
}
a{
    text-decoration: none;
    color: black;
}